### SBA Loan Project 

#### Josahn Oginga 

#### Stage 2

In [1]:
#import libraries 
import pandas as pd
import numpy as np

In [2]:
#load the data 
df = pd.read_csv(r"C:\Users\Ochieng' Oginga\Documents\Post_S\Spring_2025\Data_Science_II\Project\Data\Oginga_Stage1.csv")
#show head 
df.head()

C:\Users\Ochieng' Oginga\AppData\Local\Temp\ipykernel_17364\2981810954.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\Ochieng' Oginga\Documents\Post_S\Spring_2025\Data_Science_II\Project\Data\Oginga_Stage1.csv")

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,28-Feb-97,1997,...,N,Y,NaN,28-Feb-99,"$60,000.00",$0.00,P I F,$0.00,"$60,000.00","$48,000.00"
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,28-Feb-97,1997,...,N,Y,NaN,31-May-97,"$40,000.00",$0.00,P I F,$0.00,"$40,000.00","$32,000.00"
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,28-Feb-97,1997,...,N,N,NaN,31-Dec-97,"$287,000.00",$0.00,P I F,$0.00,"$287,000.00","$215,250.00"
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,...,N,Y,NaN,30-Jun-97,"$35,000.00",$0.00,P I F,$0.00,"$35,000.00","$28,000.00"
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,...,N,N,NaN,14-May-97,"$229,000.00",$0.00,P I F,$0.00,"$229,000.00","$229,000.00"

#### Preprocessing

1. Handle Missing Values

In [3]:
# Check if there are any missing values in the entire DataFrame
any_missing = df.isnull().values.any()

print("Any missing values in the DataFrame:", any_missing)

Any missing values in the DataFrame: True

Calculate the percentage of missing values per column to identify columns that need to be imputed or if the missing values are too low and wonâ€™t reduce the dataâ€™s richness and complexity.

In [4]:
# Calculate the percentage of missing values per column
missing_percentage = (df.isnull().mean()) * 100

# Print the percentage of missing values
print(missing_percentage)

LoanNr_ChkDgt         0.000000
Name                  0.001557
City                  0.003336
State                 0.001557
Zip                   0.000000
Bank                  0.173383
BankState             0.174162
NAICS                 0.000000
ApprovalDate          0.000000
ApprovalFY            0.000000
Term                  0.000000
NoEmp                 0.000000
NewExist              0.015125
CreateJob             0.000000
RetainedJob           0.000000
FranchiseCode         0.000000
UrbanRural            0.000000
RevLineCr             0.503579
LowDoc                0.287156
ChgOffDate           81.905526
DisbursementDate      0.263356
DisbursementGross     0.000000
BalanceGross          0.000000
MIS_Status            0.222095
ChgOffPrinGr          0.000000
GrAppv                0.000000
SBA_Appv              0.000000
dtype: float64

Drop rows that have missing values on key variables that cannot be imputed. In this case, empty rows in these columns were dropped: Name, City, State, DisbursementDate, NewExist, Bank, BankState and MIS status. 

Since this is a large dataset and the variables are non-numeric, it is challenging to impute with a mean or median.

In [5]:
# Drop rows where the 'Name',  "City", "State", "DisbursementDate", "MIS_Status" column has missing values (NaN)
df_clean = df.dropna(subset=['Name', "City", "State", "DisbursementDate", "MIS_Status", "NewExist", "BankState", "Bank"])

# Check new percentage of missing values per column
missing_percentage = (df_clean.isnull().mean()) * 100

# Print the percentage of missing values
print(missing_percentage)

LoanNr_ChkDgt         0.000000
Name                  0.000000
City                  0.000000
State                 0.000000
Zip                   0.000000
Bank                  0.000000
BankState             0.000000
NAICS                 0.000000
ApprovalDate          0.000000
ApprovalFY            0.000000
Term                  0.000000
NoEmp                 0.000000
NewExist              0.000000
CreateJob             0.000000
RetainedJob           0.000000
FranchiseCode         0.000000
UrbanRural            0.000000
RevLineCr             0.504762
LowDoc                0.284677
ChgOffDate           81.863937
DisbursementDate      0.000000
DisbursementGross     0.000000
BalanceGross          0.000000
MIS_Status            0.000000
ChgOffPrinGr          0.000000
GrAppv                0.000000
SBA_Appv              0.000000
dtype: float64

2. Binary Ecoding

i. Convert charge off date from a date into a binary to handle the missing values: 0 â€“ if there is no date, and 1 if there is a date, and store in ChgOffDate_binary column.

In [7]:
#for charge off date 
# Use .loc to modify the original DataFrame and ensure you're creating the binary column
df_clean.loc[:, 'ChgOffDate_binary'] = df_clean['ChgOffDate'].notna().astype(int)

# Print the DataFrame to check the new column
print(df_clean[['ChgOffDate', 'ChgOffDate_binary']])

       ChgOffDate  ChgOffDate_binary
0             NaN                  0
1             NaN                  0
2             NaN                  0
3             NaN                  0
4             NaN                  0
...           ...                ...
899159        NaN                  0
899160        NaN                  0
899161        NaN                  0
899162   8-Mar-00                  1
899163        NaN                  0

[893292 rows x 2 columns]

In [8]:
#check shape of data
df_clean.shape

(893292, 28)

ii. Remove undefined location in UrbanRural column, and using the new information, create UrbanRural_binary column, assign 0 to urban and 1 to rural.

In [9]:
#first check how many datapoints are undefuined 
#Calculate the percentage of '0' (undefined) in the 'UrbanRural' column
undefined_percentage = (df_clean['UrbanRural'] == 0).mean() * 100

# Print the result
print(f"Percentage of undefined values in 'UrbanRural': {undefined_percentage:.2f}%")

# Drop rows where 'UrbanRural' is 0
df_clean = df_clean.drop(df_clean[df_clean['UrbanRural'] == 0].index)

Percentage of undefined values in 'UrbanRural': 35.93%

In [10]:
#create a binary column for UrbanRural for just urban and rural entries and create the 'UrbanRural_binary' column
df_clean.loc[:, 'UrbanRural_binary'] = df_clean['UrbanRural'].apply(lambda x: 0 if x == 1 else (1 if x == 2 else None))

# Print the DataFrame to check the new column
print(df_clean[['UrbanRural', 'UrbanRural_binary']].head(20))

     UrbanRural  UrbanRural_binary
12            1                  0
24            1                  0
28            1                  0
30            1                  0
32            1                  0
34            2                  1
38            1                  0
49            1                  0
58            1                  0
62            1                  0
65            1                  0
67            2                  1
71            1                  0
76            2                  1
77            1                  0
80            1                  0
83            1                  0
89            2                  1
123           1                  0
127           2                  1

In [10]:
df_clean.shape

(572333, 29)

iii. Convert MIS_Status into a binary category. 1 = PIF, and 0 = charged off

In [11]:
#using MIS_status column, create a column MIS_Status_Binary with binary variable for paid in full = 1, and charged off = 0
df_clean['MIS_Status_Binary'] = df_clean['MIS_Status'].apply(lambda x: 1 if x == 'P I F' else 0)

iv. convert franchise column into binary 

Interested in seeing if a business is a franchise or not

In [12]:
df_clean['IsFranchise'] = df_clean['FranchiseCode'].apply(lambda x: 0 if x in [0, 1] else 1)

v. Transform low doc and revline of credit into binary

In [14]:
#transforming lowdoc into binary
df_clean['LowDoc_binary'] = df_clean['LowDoc'].str.strip().str.upper().apply(lambda x: 1 if x == 'Y' else 0)

#transforming revolving line of credit into binary 
df_clean['RevLineCr_binary'] = df_clean['RevLineCr'].str.strip().str.upper().apply(lambda x: 1 if x == 'Y' else 0)

vi. Hot Encoding NAICS using industrial standard

In [16]:
# Define a function to extract the sector and map it
def map_naics_sector(code):
    try:
        code = int(code)
        if code == 0:
            return 'Unknown'
        prefix = int(str(code)[:2])  # first two digits
        if prefix == 11:
            return 'Agriculture'
        elif prefix == 21:
            return 'Mining'
        elif prefix == 22:
            return 'Utilities'
        elif prefix == 23:
            return 'Construction'
        elif 31 <= prefix <= 33:
            return 'Manufacturing'
        elif prefix == 42:
            return 'Wholesale Trade'
        elif 44 <= prefix <= 45:
            return 'Retail Trade'
        elif 48 <= prefix <= 49:
            return 'Transportation'
        elif prefix == 51:
            return 'Information'
        elif prefix == 52:
            return 'Finance'
        elif prefix == 53:
            return 'Real Estate'
        elif prefix == 54:
            return 'Professional Services'
        elif prefix == 55:
            return 'Management'
        elif prefix == 56:
            return 'Admin & Waste Mgmt'
        elif prefix == 61:
            return 'Education'
        elif prefix == 62:
            return 'Healthcare'
        elif prefix == 71:
            return 'Arts & Recreation'
        elif prefix == 72:
            return 'Accommodation & Food'
        elif prefix == 81:
            return 'Other Services'
        elif prefix == 92:
            return 'Public Admin'
        else:
            return 'Other'
    except:
        return 'Unknown'


# Apply the mapping
df_clean['NAICS_Sector'] = df_clean['NAICS'].apply(map_naics_sector)

# One-hot encode
df_clean = pd.get_dummies(df_clean, columns=['NAICS_Sector'], prefix='Sector')

3. Drop off non-key variables

Drop off columns that are not part of the key variables: 'LoanNr_ChkDgt', 'ChgOffDate','UrbanRural', 'RevLineCr', 'LowDoc', 'BalanceGross', 'MIS_Status'

In [17]:
# Drop the specified columns from the DataFrame
df_clean = df_clean.drop(columns=['LoanNr_ChkDgt', 'ChgOffDate','UrbanRural', 'RevLineCr', 'LowDoc', 'FranchiseCode','MIS_Status', 'NAICS'])

# Print the DataFrame to check the result
print(df_clean.head())

                           Name         City State    Zip  \
12                       CARVEL         APEX    NC  27502
24                       SUBWAY  LITTLE ROCK    AR  72223
28          WEYLAND CORPORATION    CAMARILLO    CA  93010
30  CHICAGO BRICK UNLIMITED INC        MIAMI    FL  33186
32                    RZI, INC.  NEW ORLEANS    LA  70130

                              Bank BankState ApprovalDate ApprovalFY  Term  \
12           STEARNS BK NATL ASSOC        MN     7-Feb-06       2006   162
24                        HOPE FCU        MS     7-Feb-06       2006   126
28     WELLS FARGO BANK NATL ASSOC        SD     7-Feb-06       2006    83
30                  CITIBANK, N.A.        FL     7-Feb-06       2006    84
32  BUSINESS RES. CAP. SPECIALTY B        LA     7-Feb-06       2006    60

    NoEmp  ...  Sector_Mining  Sector_Other Services  \
12      2  ...          False                  False
24      7  ...          False                  False
28     18  ...          False                  False
30      4  ...          False                  False
32      3  ...          False                  False

    Sector_Professional Services Sector_Public Admin Sector_Real Estate  \
12                         False               False              False
24                         False               False              False
28                         False               False              False
30                         False               False              False
32                         False               False               True

   Sector_Retail Trade Sector_Transportation Sector_Unknown Sector_Utilities  \
12                True                 False          False            False
24               False                 False          False            False
28               False                 False          False            False
30               False                 False          False            False
32               False                 False          False            False

    Sector_Wholesale Trade
12                   False
24                   False
28                   False
30                   False
32                   False

[5 rows x 46 columns]

In [18]:
#see the final pre-processed dataset
df_clean.shape

(572333, 46)

4. Convert monetary values into numeric values

In [19]:
# List of monetary columns
dollar_columns = ['DisbursementGross', 'ChgOffPrinGr', 'GrAppv', 'SBA_Appv']

# Remove $ and , then convert to float
df_clean[dollar_columns] = df_clean[dollar_columns].replace('[\$,]', '', regex=True).astype(float)

Save processed data into data folder

In [20]:
#save the clean dataframe to data folder
df_clean.to_csv(r"C:\Users\Ochieng' Oginga\Documents\Post_S\Spring_2025\Data_Science_II\Project\Data\Oginga_Stage3.csv", index=False)